In [2]:
import pandas as pd

In [8]:
folderpath = r"C:\Users\gen80\OneDrive\Documents\MDSlectures\COLX_523_advanced_corp_ling\COLX523_SH_VT_AL\codes\tidied_csv\5fields\\"

In [15]:
Amazon_df = pd.read_csv(folderpath+"Amazon_weibo_tidied2.csv",header=None)
Amazon_df.head()

,0,1,2,3,4
0,"February 25, 2020",4.480000e+15,# 自闭日记 1. 我宝贵的休息时间在干嘛呢， 和amazon吵吵， 和hsbc吵吵， 和h...,zh,"{'id': 1762825882, 'screen_name': '一木成零', 'pro..."
1,"February 6, 2020",4.470000e+15,#197万只假飘安口罩流入湖南市场# 加拿大amazon买不着，女友在美国amazon买的，...,zh,"{'id': 1364250233, 'screen_name': '萝卜泡泡有一只胖胖的咖..."
2,"February 2, 2020",4.470000e+15,#amazon 有些地方，一辈子总要来一次，当然不见得还要再来，我说的就是亚马逊雨林。 亚马...,zh,"{'id': 1694601031, 'screen_name': '魔都莎曼萨', 'pr..."
3,"February 29, 2020",4.480000e+15,#Amazon# 这部最新自制原创 #科幻# 美剧 #TALES FROM THE LOOP...,zh,"{'id': 1914675127, 'screen_name': 'Qrious乔治', ..."
4,"February 2, 2020",4.470000e+15,#Amazon亚马逊世界总部# (来自 @安迪樊AndyFan 的一直播 下载地址 网页链接...,zh,"{'id': 1400228952, 'screen_name': '方冰老师', 'pro..."

In [29]:
Apple_df = pd.read_csv(folderpath+"Apple_weibo_tidied.csv",header=None,skiprows = 1)
Microsoft_df = pd.read_csv(folderpath+"Microsoft_weibo_tidied.csv",header=None, skiprows =1)
Facebook_df = pd.read_csv(folderpath+"Facebook_weibo_tidied.csv",header=None)
Microsoft_df.head()
Facebook_df.head()

,0,1,2,3,4
0,"March 2, 2020",4.478170e+15,TXT组合超话 【200302 脸书】官方脸书更新 放学后活动（18/26）,zh,"{'id': 6933837821, 'screen_name': 'TXT记录库', 'p..."
1,"February 23, 2020",4.475240e+15,&quot;脸书”和“推特”的政治立场不要听公司自己说，只要看他们的实际行动就知道了。“推特...,zh,"{'id': 2197512460, 'screen_name': '鋆言天下', 'pro..."
2,"February 23, 2020",4.475080e+15,AB6IX超话 现在韩国青瓦台上对于韩国演艺人员海外演唱会和粉丝见面会进行延期或取消的請願，...,zh,"{'id': 6047318141, 'screen_name': '找回自我pin', '..."
3,"February 21, 2020",4.474540e+15,#C罗# 如果你叫C罗，那么发一条推特就可以让你的钱包多出一笔巨款。根据国外著名数据网站Op...,zh,"{'id': 1652507102, 'screen_name': '丹丹聊足球', 'pr..."
4,"February 2, 2020",4.467570e+15,邓伦超话 #邓伦香蜜沉沉烬如霜# 刚刚，百度资讯指数统计出2017—2019年十大霸屏爆剧，...,zh,"{'id': 5653318570, 'screen_name': '追星蜀黎', 'pro..."

In [19]:

Amazon_df[2]=Amazon_df[2].astype("str")
sum(Amazon_df[2].apply(lambda x:len(x)))
#Amazon_df[2][0]

78813

In [18]:
def get_textlen(df_col):
    df_col=df_col.astype("str")
    return sum(df_col.apply(lambda x:len(x)))

In [21]:
get_textlen(Apple_df[2])

55119

In [28]:
get_textlen(Microsoft_df[2])

30095

In [30]:
get_textlen(Facebook_df[2])

49021

In [35]:
78813+55119+30095+49021

213048

In [31]:
len(Facebook_df)

529

In [32]:
len(Apple_df)

558

In [33]:
len(Amazon_df)

1220

In [34]:
len(Microsoft_df)

377

In [36]:
529+558+1220+377

2684